<div class="dashboard">
  <div class="container">
    <div class="dasboard-title">Dashboard</div>

    <div class="task-container-elements">
      <div  >
        <div class="task">
          <div class="task-container">
            <div class="state-container">
              <div class="state">Sin iniciar</div>
            </div>
            <div class="container-atribute">
              <div class="atribute">Id</div>
              <div class="atribute-value">13</div>
            </div>
            <div class="container-atribute">
              <div class="atribute">Title:</div>
              <div class="atribute-value">Corregir metodo task/updateTask</div>
            </div>

            <div class="container-atribute">
              <div class="atribute">Description:</div>
            </div>

            <div class="description">
              Al momento de hacer una actualización es necesario agregar el campo
              description en el state, con el id debería ser suficiente. Al
              momento de hacer una actualización es necesario agregar el campo
              description en el state, con el id debería ser suficiente cjfjfj
              jfksicuehkd jdjd jdjdjd jdjdjd
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>
