.dashboard{
  background: #2F2E41;
  border-radius: 16px;
  margin: 48px 20px 48px 20px;

  .container{
    padding: 40px 19px 94px 39px;

    .dasboard-title{
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #FFFFFF;
      margin-bottom: 33px;
    }

    .task-container-elements{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items:center;
      margin-left: 7px;

      .task{
        max-width: 460px;
        min-width: 460px;
        background: #B790D5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        margin-right: 20px;
        margin-bottom: 20px;

        .task-container{
          padding: 29px 33px 27px 33px;

          .state-container{
            display: flex;
            flex-direction: row;
            justify-content:flex-end;

            .state{
              box-sizing: border-box;
              border-radius: 19px;
              padding: 2px 9px 2px 9px;
              margin-bottom: 9px;

              font-family: Roboto;
              font-style: normal;
              font-weight: 600;
              font-size: 11px;
              line-height: 13px;
            }

            .without-state{
              border: 2px solid #000000;
              color: #000000;
            }

            .development{
              border: 2px solid #5BFC9B;
              color: #5BFC9B;
            }

            .test{
              border: 2px solid #3076B7;
              color: #1F4C82;
            }
            .finished{
              text-decoration-line: line-through;
              border: 2px solid #FFFFFF;
              color: #FFFFFF;
            }
          }

          .container-atribute{
            display: flex;
            margin-bottom: 6px;
            .atribute{
              font-family: Roboto;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 16px;
              color: #000000;
            }
            .atribute-value{
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 16px;
              color: #000000;
              margin-left: 5px;
            }
          }
          .description{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            border: 1px solid #1F4C82;
            background: #5F7DAF;
            border-radius: 7px;
            padding: 10px;
          }
        }
      }

    }
  }
}

@media (max-width: 1064px){

  .dashboard{
    .container{

      .task-container-elements{
        align-items: stretch;
        align-content: center;
        flex-direction: column;

        .task{
          min-width: 200px;
        }

      }
    }

  }
}

@media (max-width: 540px){

  .dashboard{
    .container{
      .task-container-elements{
        align-items: stretch;
        align-content: center;
        flex-direction: column;
      }
    }
  }
}
