<div class="text-center" *ngIf="isLogged; else loggedOut">
  <h2>You are login</h2>
</div>

<ng-template #loggedOut>
  <div class="container">
    <div class="left">
      <img src="../../../assets/ilustrationLogin.jpg" alt="Ilustration" />
    </div>
    <div class="right">
      <div class="title-container">
        <div class="title">LOGIN USER</div>
        <div class="message">Welcome back to Ytarama</div>
      </div>
      <form #f="ngForm" (ngSubmit)="f.valid && onLogin()" novalidate>
        <div class="fields">
          <input
            type="text"
            name="nombreUsuario"
            id="nombreUsuario"
            placeholder="nombreUsuario"
            class="input-component"
            [(ngModel)]="nombreUsuario"
            required
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            class="input-component"
            [(ngModel)]="password"
            required
          />
        </div>
        <div class="button-container">
          <button class="button-component" [disabled]="!f.valid">
            <div class="text-button">LOGIN</div>
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
