<app-navbar></app-navbar>
<div class="text-center" *ngIf="isLogged; else loggedOut">
  <h2>You are login</h2>
</div>

<ng-template #loggedOut>
  <div class="container">
    <div class="left">
      <div class="left-container">
        <div class="welcome-text">Welcome Back</div>
        <img src="../../../assets/sign_in.svg" alt="Ilustration" class="welcome-img"/>
      </div>
    </div>

    <div class="right">
      <div class="right-container">
        <div class="title-container">
          <div class="title">Sign in</div>
          <div class="message">to YTarama</div>
          <div class="message-mb">Welcome Back To YTarama</div>
        </div>
        <div class="fiedls-container">
          <app-input [placeholdertext]="'Username'" (outputValue)="onOutputUser($event)"></app-input>
          <div class="password-field">
            <app-input [placeholdertext]="'Password'" (outputValue)="onOutputPassword($event)"></app-input>
          </div>
          <div class="login-button-container">
            <div class="login-button">
              <app-button-success [text]="'Sign in'" (click)="onLogin()"></app-button-success>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</ng-template>
