<nav>
  <div class="container">

    <a class="principalText" href="#"><div class="title">Ytarama</div></a>
    <div class="box">

      <a class="vinculo" (click)="goLink('https://github.com/Yparada')" ><img src="../../../assets/github-brands.svg" alt="GitHub"
          class="iconNav iconNavGit"> <div class="imgTitle">GitHub</div></a>

      <a class="vinculo" (click)="goLink('https://mail.ytarama.com')" ><img src="../../../assets/envelope-open-text-solid.svg"
          alt="GitHub" class="iconNav iconNavMail"> <div class="imgTitle">Mail</div></a>
    </div>
  </div>
</nav>
