<nav>
  <div class="container">

    <a class="principalText" href="#"><div class="title">Ytarama</div></a>
    <div class="box">

      <a class="vinculo" title="GitHub" (click)="goLink('https://github.com/Yparada')" ><img src="../../../assets/GitHub.svg" alt="GitHub"
          class="iconNav iconNavGit"> <div class="imgTitle"></div></a>

      <a class="vinculo" title="Mail" (click)="goLink('https://mail.ytarama.com')" ><img src="../../../assets/mail.svg"
          alt="GitHub" class="iconNav iconNavMail"> <div class="imgTitle"></div></a>

      <a class="vinculo" title="Sign Up" (click)="onNavigate('/sign-up')"><img src="../../../assets/signUpColor.svg"
          alt="GitHub" class="iconNav iconNavSignUp"> <div class="imgTitle"></div></a>

      <a class="vinculo" *ngIf="!isLogged && !isLoginPage" title="Login" (click)="onNavigate('/login')" ><img src="../../../assets/login.svg"
          alt="GitHub" class="iconNav iconNavMail"> <div class="imgTitle"></div></a>

      <a class="vinculo" *ngIf="isLogged" title="logOut" (click)="onLogOut()"><img src="../../../assets/logOut.svg"
        alt="GitHub" class="iconNav iconNavMail"> <div class="imgTitle"></div></a>
    </div>
  </div>
</nav>
