<div class="container">
  <div class="left"><img src="../../../assets/ilustrationLogin.jpg" alt="Ilustration"></div>
  <div class="right">
    <div class="title-container">
      <div class="title">LOGIN USER</div>
      <div class="message">Welcome back to Ytarama</div>
    </div>
    <div class="fields">
      <input type="text" placeholder="Username" class="input-component">
      <input type="text" placeholder="Password" class="input-component">
    </div>
    <div class="button-container">
      <button class="button-component"><div class="text-button">LOGIN</div></button>
    </div>

  </div>

</div>
