.input-component{
  border: 1px solid #1F4C82;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  padding: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  &:focus{
    background-color: #ffffff;
    outline: #0041a8;
    border: solid 1px #0041a8;
  }
}
