.container {
  width: 100%;
  min-height: 288px;
  background-color: #e6e6e6;
  margin-top: 28px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 122px 0 122px;

    .msj{
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 400;
      text-align: center;

    }
  }
}

@media (max-width: 770px){
  .container{
    .content{
      margin: 0 50px 0 50px;
    }
  }
}

@media (max-width: 540px){
  .container{
    .content{
      margin: 0 22px 0 22px;
    }
  }
}
