<!-- <h1 mat-dialog-title>Favorite Animal</h1> -->
<!-- <div mat-dialog-content>
  <img src="../../../assets/loading.gif" class="loading">
</div> -->

<div class="sk-chase" *ngIf="data.tipo == 'loading'">
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
</div>

<div *ngIf="data.tipo == 'task'">
  <div class="task-container">
    <div class="title">Task editing mode</div>
    <div class="task-id">Identifier: {{id}}</div>
    <div class="sub-title">State</div>
    <div class="state-list">
      <app-drop-down-list [placeholdertext]="'Selecionar'" [initialData]="stateSelected" [list]="state"
      (itemSelected)="itemSelect($event)"></app-drop-down-list>
    </div>
    <div class="sub-title">Title</div>
    <app-input [placeholdertext]="'Title'" [inputValue]=title (outputValue)="titleSelect($event)"></app-input>
    <div class="sub-title">Description</div>
    <app-text-area [placeholdertext]="'Description'" [inputValue]=desc (outputValue)="descSelect($event)"></app-text-area>
    <div class="modify-box-button">
      <div class="modify-button">
        <app-button-primary [text]="'Modify'" (click)="onClick($event)"></app-button-primary> 
      </div>
    </div>
  </div>
</div>
